<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Conjurl - Short URL Generator</h1>
      <p class="lead">Take a long URL and shorten it!<br/>Share or post the short
      URL anywhere!</p>

      <div class="lead">
      <%= form_tag(controller: "url_shortener", action: "shorten") do %>
        <%= label_tag(:long_url, "URL:") %>
        <%= text_field_tag(:long_url) %>
        <%= submit_tag("Shorten") %>
      <% end %>
      </div>

      <% if @long_url && @short_url %>
      <h3>Your long URL is:</h2>
      <p class=""><%= link_to(@long_url, @long_url) %></p>
      <h3>Your shiny new short URL is:</h2>
      <p class=""><%= link_to(@short_url, @short_url) %></p>
      <% end %>

    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
