<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>ConjURL - Short URL Generator</h1>

      <% if @account_name %>
      <div class="lead">Hello, <%= link_to @account_name, account_path %></div>
      <% else %>
      <p class="lead">Take a long URL and shorten it!<br/>
        Share or post the short URL anywhere!</p>
      <% end %>

      <div class="lead">
      <%= form_tag(controller: "url_shortener", action: "shorten") do %>
        <%= label_tag(:long_url, "URL") %>
        <%= text_field_tag(:long_url) %>
        <%= submit_tag("Shorten") %>
      <% end %>
      </div>

      <% if @long_url && @short_url %>
      <h3>Your long URL is:</h3>
      <p><%= link_to(@long_url, @long_url) %></p>
      <% adjective = @short_url.length < @long_url.length ? 'short' : '"short"' %>
      <h3>Your shiny new <%= adjective %> URL is:</h3>
      <p class="lead">
        <input id='short_url' value='<%= @short_url %>'/>
      </p>
      <button class='my_clip_button' data-clipboard-target='short_url'
              id='d_clip_button' title='Copy the short URL to clipboard.'>
        <b>Copy</b>
      </button>
      <% end %>

      <p class='btn-secondary btn-sm'>
        <% unless @account_name %>
        <%= button_to('Create Account', account_path, method: :get) %>
        <% end %>
      </p>

      <script>
        $(document).ready(function() {
          var clip = new ZeroClipboard($("#d_clip_button"))
        });
      </script>

    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
