<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Conjurl - Short URL Generator</h1>

      <% if @account_name.nil? %>

      <div class="lead">Create a new account to manage and track your short URLs</div>
      <div class="lead">
      <%= form_tag(controller: "account", action: "create") do %>
        <%= label_tag(:account_name, "Name:") %>
        <%= text_field_tag(:account_name) %>
        <%= submit_tag("Create") %>
      <% end %>
      </div>

      <% else %>

      <div class="lead">Hello, <%= @account_name %></div>
      <div class='btn-secondary btn-sm'>
        <%= button_to('Logout', account_logout_path, method: :get) %>
      </div>

      <% end %>

      <div class='action text-center'><%= link_to('Back', root_path) %></div>
      <br>

      <% if @short_urls.present? %>
      <table class="table table-hover table-bordered table-condensed table-responsive text-left">
        <thead>
          <tr>
            <th>Short URL</th>
            <th>Target URL</th>
            <th>Clicks</th>
            <th>Referrers</th>
            <th>IP Addresses</th>
            <th>Created</th>
          </tr>
        </thead>
        <% @short_urls.each do |short_url| %>
        <tr>
          <td><%= link_to short_url[:short_url], short_url[:short_url] %></td>
          <td><%= link_to short_url[:target_url], short_url[:target_url] %></td>
          <td><%= short_url[:stats][:lifetime][:clicks] %></td>
          <td><%= short_url[:stats][:lifetime][:unique_referrers] %></td>
          <td><%= short_url[:stats][:lifetime][:unique_ip_addresses] %></td>
          <td><%= short_url[:created_at].to_date %></td>
        </tr>
        <% end %>
      </table>
      <% else %>
      You have not shortened any URLs yet. You should, it's fun!
      <% end %>
      
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
